.button {
	-fx-background-color: transparent;
	-fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Segoe UI Light";
    -fx-background-repeat: no-repeat;
}

.play {
	-fx-background-color: transparent;
	-fx-background-image: url(../media/play.png);
	-fx-alignment: center-left;
}

.pause {
	-fx-background-color: transparent;
	-fx-background-image: url(../media/play.png);
	-fx-alignment: center-left;
}

.rightArrow {
	-fx-background-image: url(../media/rightArrow.png);
	-fx-padding: 0 0 0 0;
	-fx-background-color: transparent;
	-fx-background-position: center;
}

.leftArrow {
	-fx-background-image: url(../media/leftArrow.png);
	-fx-padding: 0 0 0 0;
	-fx-background-color: transparent;
	-fx-background-position: center;
}


.serverStarted {
	-fx-background-color: transparent;
	-fx-background-image: url(../media/started.png);
	-fx-padding: 0 0 0 70;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 70;
	-fx-background-position: left center;
}

.serverStopped {
	-fx-background-color: transparent;
	/*-fx-background-image: url(images/stopped.png);*/
	-fx-padding: 0 0 0 70;
	-fx-alignment: center-left;
	-fx-padding: 0 0 0 70;
	-fx-background-position: left center;
}

.table-view {
	-fx-base: #404040;
    -fx-control-inner-background: #404040 ;
    -fx-background-color: #404040;
    -fx-opacity: 0.8;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}


.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

#scene {
    -fx-font-family: "Segoe UI Light";
}

#area {
    -fx-background-color: #404040;
    -fx-opacity: 0.8;
    -fx-control-inner-background: #404040 ;
}

#chat {
    -fx-background-color: #404040;
    -fx-opacity: 0.8;
    -fx-control-inner-background: #404040 ;
    -fx-border-color: transparent ;
}

#input {
    -fx-background-color: #404040;
    -fx-opacity: 0.8;
    -fx-control-inner-background: #404040 ;
    -fx-border-color: white ;
}

#buttonChat {
    -fx-background-image: url(../media/chat.png);
    -fx-background-color: transparent;
}
